@font-face {
    font-family: 'tf2_buildtf2_build';
    src: url('tf2build-webfont.woff2') format('woff2'),
         url('tf2build-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tf2regular';
    src: url('tf2-webfont.woff2') format('woff2'),
         url('tf2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tf2secondary';
    src: url('tf2secondary-webfont.woff2') format('woff2'),
         url('tf2secondary-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

